<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Satisfaction</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/satisfaction.css">

	<script type=text/javascript>
		//time for events
		var d = new Date();
		var iniTime = d.getTime();

		var IDSession = {{id}};
		console.log(IDSession);
		var path = "{{path}}";
	</script>
</head>
<body>
    <div class="container">
        <h1 class="display-3">Plan de vacaciones</h1>
        <p>Desliza el punto verde que se encuentra en la siguiente barra lateral e identifica cuándo el actor cambia de estado de ánimo.</p>
        <div class="face-container">
            <input class="slider" id="valR" type="range" min="1" max="60" value="0" step="1" oninput="showVal(this.value)" onchange="showVal(this.value)" />
            <img id="img-video">
        <form method="post">
            <button onclick="sendData()" type="submit" class="btn btn-primary active">Continuar</button>
        </form>
        </div>
    </div>

</body>
<script src="/static/js/satisfaction.js"></script>
</html>
