<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Satisfaction</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/satisfaction.css">

	<script type=text/javascript>
		//time for events
		var d = new Date();
		var iniTime = d.getTime();

		var IDSession = {{id}};
		console.log(IDSession);
	</script>
</head>
<body>
    <div class="container">
        <h1 class="display-3">Plan de vacaciones</h1>
        <p>Por favor, realice la siguiente encuesta:</p>
        <p> Su IDSession es: {{id}}</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFDa7emxPgC0sO3D0U7Rc_i3rrrKu7rhjkTVMkmGjbKfbqNw/viewform?embedded=true" width="900" height="600" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        <!-- Trigger/Open the Modal -->
        <div>
            <button onclick="document.getElementById('exampleModal').style.display='block'"
                    class="btn btn-primary">Finalizar</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Si contestó la encuesta hasta el final dé clic en Finalizar.
                    De lo contrario, por favor, dé clic en regresar y conteste la encuesta en su totalidad.
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
                        <button type="submit" class="btn btn-primary">Finalizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
